<head>
    <style>
    div {
      
      margin:25px ;
      
    }
    </style>
 </head>

<p style="padding: 5px; align-content: center; text-align: center; font-size: large; font-weight: bold;"><br>{{'mainpage.aboutResidentsubtext1' | translate}}</p>
<p style="padding: 5px; align-content: center; text-align: center; font-size: large; font-weight: bold;">{{'mainpage.aboutResidentsubtext2' | translate}} </p>  

<div id="main-content">
  <div>
     
     
              <div class="col-10 pull-left">
                 
                  <div class="itempage home no-background">
                 
                      <div class="item-page home no-background" itemscope="" itemtype="https://schema.org/Article">
                          <meta itemprop="inLanguage" content="en-GB">

                          <div class="page-header">
                              <!--
    <h2 itemprop="headline">
        </h2>
-->

                          </div>

                          <div>
                              <h1 class="content-heading">xyz</h1>

                              <div >&nbsp;
                                  <!-- START: Modules Anywhere -->
  
                                <ul class="nav menu custom-menu-layout col-xs-12"   >
                                   <li class=" item-2377 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                        
                                              <div class="content-body">
                                                  <h2 class="servicehead">{{'mainpage.genVID' | translate}}</h2>
                                                 
                                              </div>
                                                                               
                                          <ul class="nav-child unstyled small pl-80">
                                            <li class=" item-2378 child-class"><h3><strong>{{'mainpage.subtext' | translate}}</strong></h3></li>
                                              <li class=" item-2378 child-class"><h3>{{'mainpage.aboutVID' | translate}}</h3></li>
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutgenVID' | translate}}</h3></li>
                                              <br> <button class="button2 button" routerLink="/generateVid">{{'mainpage.genVID' | translate}}</button>
                                         </ul>
                                      </li>

                                      <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                       
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.revVID' | translate}}</h2>
                                    
                                            </div>
                                                                              
                                        <ul class="nav-child unstyled small pl-80">
                                            <li class=" item-2380 child-class"><h3><strong>{{'mainpage.aboutrevokeVID' | translate}}</strong></h3></li>
                                          
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutrevVID' | translate}}</h3></li>
                                              <br><button  class="button2 button" routerLink="revokeVid">{{'mainpage.revVID' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                     
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.ServiceRequestStatus' | translate}}</h2>
                            
                                            </div>
                                                                            
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.statuscheck' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.statuscheck1' | translate}}</h3></li>
                                            <br>   <button  class="button2 button" routerLink="/servReqCheckStatus">{{'mainpage.ServiceRequestStatus' | translate}}</button>
                                            </ul>
                                    </li>

                                    

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                    
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.reqprintuin' | translate}}</h2>
                            
                                            </div>
                                                                     
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutprintuin' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutprintuin1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/requestUin">{{'mainpage.reqprintuin' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                       
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.reqeuin' | translate}}</h2>
                            
                                            </div>
                                                                        
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.abouteuin' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.abouteuin1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/requestEuin">{{'mainpage.reqeuin' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                      
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.Updatedemographic' | translate}}</h2>
                            
                                            </div>
                                                                             
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.aboutdemographic' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutdemographic1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/updateDemograhic">{{'mainpage.Updatedemographic' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.CheckAuthenticationHistory' | translate}}</h2>
                            
                                            </div>
                                                                        
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutauthhist' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutauthhist1' | translate}}</h3></li>
                                            <br>   <button  class="button2 button" routerLink="/authHistory">{{'mainpage.CheckAuthenticationHistory' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                       
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.Lock' | translate}}</h2>
                            
                                            </div>
                                                                              
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutlock' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutlock1' | translate}}</h3></li>
                                            <br>   <button  class="button2 button"  routerLink="/lock">{{'mainpage.Lock' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        
                                            <div class="content-body">
                                                <h2 class="servicehead">{{'mainpage.unlock' | translate}}</h2>
                            
                                            </div>
                                                                            
                                        <ul class="nav-child unstyled small pl-80" style="margin-bottom: 7%;">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutlockunlock' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutlockunlock1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/unlock">{{'mainpage.unlock' | translate}}</button>
                                            </ul>
                                    </li>

                                  </ul>
                                  <!-- END: Modules Anywhere -->
                              </div>
                              
                          </div>

                          
                      </div>
                  </div>
                                      </div>

              
          </div>

      </div>
